* {
    box-sizing: border-box;
    background-color: #ffebed;
    font-family: Tahoma, Verdana;
}
.img, .img-index {
    width: 640px;
    height: 480px;
    display: block;
    margin: 50px auto 50px;
    padding: 10px;
    background-color: #f6b6b7;
    border: 2px;
    border-style: dashed;
    border-color:#27153d;
}
.img-index {
    height: 340px;
}

.head1,h1 {
    display: block;
    margin: 20px 0;
    padding-block: 5px;
    text-align: center;
    background-color: #27153d;
    color: #db7f8e;
}